//ADMIN
ADMIN_ID=6904837223
LOGGING_GROUP_ID=your_logging_group_id
//ORKUT
QRIS_MERCHANT_ID=your_qris_merchant_id
QRIS_API_KEY=your_qris_api_key
QRIS_BASE_QR_STRING=your_base_qr_string
BASE_PRICE=harga
//API KEY DOR
DOR_API_KEY=0a1ccba4-e6fc-498c-af2f-5f889c765aaa
BOT_TOKEN=7666099616:AAH2OnVflF2GeP3qJhMYnkZHnqlRg6z36sM
ID_TELEGRAM=6904837223
PASSWORD=tuyulbot
